* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #FCFBF0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0.90rem 3.5rem;
    width: 100%;
    box-sizing: border-box;

}

.nav-left ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}


.nav-left a {
    text-decoration: none;
    color: #1A1814;
    font-size: 0.9rem;
    font-weight: 500;
}


.logo-container {
    align-items: center;
    /* border-left: 1px solid #EBEAE6;
    border-right: 1px solid #EBEAE6; */
    padding: 0 3rem;
}

.logo {
    font-size: 2.2rem;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 1.5rem;
}


.nav-right .icon-link {
    cursor: pointer;
}

.nav-right .icon-link svg {
    width: 24px;
    height: 24px;
    stroke: #333;
    stroke-width: 1.5;
}




/* =============================== Hero section style======================================================= */
.hero-section {
    background-color: #FCFBF0;
}


.product-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    font-size: 14px;
    padding: 0.90rem 3.5rem;
}

.product-image-column {
    height: 60vh;
}

.cloth1-image {
    width: 90%;
    height: auto;
    object-fit: cover;
}




.product-details-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0rem 0rem 0rem;
}



.product-title {
    font-family: "Fjalla One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 149px;
    margin-top: -6rem;
    overflow: hidden;
    text-align: right;
    letter-spacing: -6px;
}


.product-description {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    word-spacing: 1px;
    color: #7c7b75;

}


.product-meta {
    color: #7c7b75;
    margin-bottom: 1rem;
    display: flex;
    gap: 2.5rem;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.product-size-selector {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

}


.product-size-selector .size-btn {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: 2.6rem;
    border: 2px solid #111;
    background-color: transparent;
    width: 162px;
    height: 70px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.Measurements-size {
    padding: 1px 1px 1px 1px;

}

.product-name {
    color: #7c7b75;
    margin-bottom: 2rem;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;

}

.product-measurements {
    text-decoration: underline;
    color: #929188;
    margin-bottom: 2rem;
    cursor: pointer;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.product-price {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 2rem;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    margin-top: 2rem;


}


.product-price .original-price {
    font-size: 4.3rem;
    font-weight: 400;
    color: #777;
    text-decoration: line-through;
}

.product-price .sale-price {
    font-size: 4.25rem;
    font-weight: 600;
    color: #111;
}

.product-actions {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.action-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    border: 2px solid #111;
    background-color: transparent;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, color 0.2s;
}

.wishlist-btn {
    width: 162px;
}

.wishlist-btn svg {
    width: 50px;
    height: 50px;
    stroke-width: 1;
}




.action-btn:hover,
.product-size-selector .size-btn:hover:not(.selected) {
    background-color: #f0ede8;
}

.delivery-info {
    color: #555;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}